<ion-side-menus class = "intr">
      <ion-content scroll="false">
        <div class="row row-center">
          <div class="col col-100  " id= title>
            <span> VOCABULARY QUIZ</span>
          </div>
          <!-- <div class="col col-10"></div> -->
        </div>
        <div class="row row-center" ng-click="vm.takeQuiz()">
          <div class="col col-80  col-offset-10">
            <button class="button button-block">
              Take Quiz
              </button>
          </div>
          <div class="col col-10"></div>
        </div>
        <div class="row row-center" ng-click="vm.viewStats()">
          <div class="col col-80  col-offset-10">
            <button class="button button-block">
              View Stats
              </button>
          </div>
          <div class="col col-10"></div>
        </div>
      </ion-content>
  </ion-side-menus>


   <!-- <div>
   </div> -->
