input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 12.55px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.9px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #403d52;
  border-radius: 1.3px;
  border: 0.1px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 31px;
  width: 29px;
  border-radius: 17px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.65px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #4b4861;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5.9px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #403d52;
  border-radius: 1.3px;
  border: 0.1px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 31px;
  width: 29px;
  border-radius: 17px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #353243;
  border: 0.1px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #403d52;
  border: 0.1px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 31px;
  width: 29px;
  border-radius: 17px;
  background: #ffffff;
  cursor: pointer;
  height: 5.9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #403d52;
}
input[type=range]:focus::-ms-fill-upper {
  background: #4b4861;
}
